@import '../base/_general.scss';

.faq{
            text-align: center;
    div {
        h1 {
            @include titulos;
        }
        
        .preguntas{
            section {
                text-align: center;
                margin: 10px;
                padding: 10px;
                color: black
            }
        }
        
    }
}
